.root {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 300px;
  background: rgb(255, 255, 255);
  padding: 8px;
  border: 2px solid rgb(221, 221, 221);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.img {
  display: flex !important;
  position: relative;
  object-fit: cover;
  width: 50px;
  height: 50px;
  box-shadow: none;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid rgb(212, 87, 87);
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___6ZLg0 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___6ZLg0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.freeBox___6ZLg0 > :global(.__wab_flex-container) > *,
.freeBox___6ZLg0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6ZLg0 > :global(.__wab_flex-container) > picture > img,
.freeBox___6ZLg0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.freeBox___6QVvc {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___6QVvc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___6QVvc > :global(.__wab_flex-container) > *,
.freeBox___6QVvc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6QVvc > :global(.__wab_flex-container) > picture > img,
.freeBox___6QVvc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__idPur {
  font-weight: 700;
  font-size: 18px;
}
.text__axlW5 {
  color: rgb(129, 129, 129);
}
.freeBox__t5Kiq {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__t5Kiq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__t5Kiq > :global(.__wab_flex-container) > *,
.freeBox__t5Kiq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t5Kiq > :global(.__wab_flex-container) > picture > img,
.freeBox__t5Kiq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.blockButton:global(.__wab_instance) {
  position: relative;
}
