.root {
  flex-direction: row;
  display: flex;
  width: 252px;
  position: relative;
  background: rgb(255, 255, 255);
  padding: 4px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.img {
  display: flex !important;
  position: relative;
  object-fit: cover;
  width: 50px;
  height: 50px;
  box-shadow: none;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid rgb(212, 87, 87);
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___04Qdg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___04Qdg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.freeBox___04Qdg > :global(.__wab_flex-container) > *,
.freeBox___04Qdg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___04Qdg > :global(.__wab_flex-container) > picture > img,
.freeBox___04Qdg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.freeBox__jwQb7 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__jwQb7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__jwQb7 > :global(.__wab_flex-container) > *,
.freeBox__jwQb7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jwQb7 > :global(.__wab_flex-container) > picture > img,
.freeBox__jwQb7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__htSn7 {
  font-weight: 700;
  font-size: 18px;
}
.text___30Y4P {
  color: rgb(129, 129, 129);
}
