.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__i2Y1P {
  flex-direction: row;
  display: flex;
  position: relative;
  height: auto;
  background: rgba(68, 192, 255, 0.2);
  padding: 8px;
}
.freeBox__i2Y1P > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__i2Y1P > :global(.__wab_flex-container) > *,
.freeBox__i2Y1P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i2Y1P > :global(.__wab_flex-container) > picture > img,
.freeBox__i2Y1P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__gnWt2 {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.text__iHl0U {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wEs5I {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svg__sK8Yv {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.freeBox__khcpW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  background: rgba(68, 192, 255, 0.2);
  min-height: 0;
}
.freeBox___2Nxi {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 137px;
  height: auto;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
  padding: 8px;
}
.freeBox___2Nxi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___2Nxi > :global(.__wab_flex-container) > *,
.freeBox___2Nxi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Nxi > :global(.__wab_flex-container) > picture > img,
.freeBox___2Nxi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___07Ldl {
  position: relative;
}
.text___591WJ {
  position: relative;
}
.freeBox__eqTF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: rgba(68, 192, 255, 0.2);
  min-width: 0;
}
.svg__ixXtR {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
