.root {
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 16px;
  padding: 4px 8px;
  border: 1px solid rgb(39, 130, 235);
}
.rootvariants_primary {
  position: relative;
  background: rgb(39, 130, 235);
}
.slotTargetChildren {
  font-weight: 700;
  color: rgb(39, 130, 235);
}
.slotTargetChildrenvariants_primary {
  color: rgb(255, 255, 255);
}
