.root {
  flex-direction: row;
  display: flex;
  position: relative;
  background: rgb(255, 255, 255);
  padding: 8px;
  border: 2px solid rgb(221, 221, 221);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.img {
  display: flex !important;
  position: relative;
  object-fit: cover;
  width: 50px;
  height: 50px;
  box-shadow: none;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid rgb(212, 87, 87);
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.text__mhYqv {
  font-weight: 700;
  font-size: 18px;
}
.text__oLayE {
  color: rgb(129, 129, 129);
}
