@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C900%3B1%2C100%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C900&family=Inter%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Press+Start+2P%3Aital%2Cwght%400%2C400&family=Bungee%3Aital%2Cwght%400%2C400&family=IBM+Plex+Sans+Condensed%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C100%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=IBM+Plex+Sans%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C100%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Ubuntu%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700&family=Source+Sans+Pro%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900%3B1%2C200%3B1%2C300%3B1%2C400%3B1%2C600%3B1%2C700%3B1%2C900&family=Raleway%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C100%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&display=swap");

.plasmic_default_styles {
  --mixin-BeIfaH2vwlOOnn_font-family: "Roboto";
  --mixin-BeIfaH2vwlOOnn_font-size: 14px;
  --mixin-BeIfaH2vwlOOnn_font-weight: 400;
  --mixin-BeIfaH2vwlOOnn_font-style: normal;
  --mixin-BeIfaH2vwlOOnn_color: rgb(5, 5, 5);
  --mixin-BeIfaH2vwlOOnn_text-align: left;
  --mixin-BeIfaH2vwlOOnn_text-transform: none;
  --mixin-BeIfaH2vwlOOnn_line-height: 1.5;
  --mixin-BeIfaH2vwlOOnn_letter-spacing: normal;
  --mixin-BeIfaH2vwlOOnn_white-space: pre-wrap;
  --mixin-BeIfaH2vwlOOnn_user-select: text;
  --mixin-BeIfaH2vwlOOnn_text-overflow: clip;
  --mixin-QltckSpyXv-Lrn_font-weight: 800;
  --mixin-QltckSpyXv-Lrn_font-size: 42px;
  --mixin-QltckSpyXv-Lrn_line-height: 1.2;
  --mixin-QltckSpyXv-Lrn_font-family: "Inter";
  --mixin-QltckSpyXv-Lrn_letter-spacing: -2px;
  --mixin-QltckSpyXv-Lrn_white-space: pre-wrap;
  --mixin-RuIsXp0jyW3Jjb_font-family: "Inter";
  --mixin-RuIsXp0jyW3Jjb_color: #000000;
  --mixin-RuIsXp0jyW3Jjb_font-size: 48px;
  --mixin-RuIsXp0jyW3Jjb_font-weight: 700;
  --mixin-RuIsXp0jyW3Jjb_letter-spacing: -1px;
  --mixin-RuIsXp0jyW3Jjb_line-height: 1.1;
  --mixin-RuIsXp0jyW3Jjb_white-space: pre-wrap;
  --mixin-ka3lDswofSLKHP_font-family: "Inter";
  --mixin-ka3lDswofSLKHP_color: #000000;
  --mixin-ka3lDswofSLKHP_font-size: 32px;
  --mixin-ka3lDswofSLKHP_font-weight: 600;
  --mixin-ka3lDswofSLKHP_letter-spacing: -0.8px;
  --mixin-ka3lDswofSLKHP_line-height: 1.2;
  --mixin-ka3lDswofSLKHP_white-space: pre-wrap;
  --mixin-ctvHLn0tlTmTEX_font-family: "Inter";
  --mixin-ctvHLn0tlTmTEX_color: #000000;
  --mixin-ctvHLn0tlTmTEX_font-size: 24px;
  --mixin-ctvHLn0tlTmTEX_font-weight: 600;
  --mixin-ctvHLn0tlTmTEX_letter-spacing: -0.5px;
  --mixin-ctvHLn0tlTmTEX_line-height: 1.3;
  --mixin-ctvHLn0tlTmTEX_white-space: pre-wrap;
  --mixin-yiUt8JZycdw2IB_font-family: "Inter";
  --mixin-yiUt8JZycdw2IB_color: #000000;
  --mixin-yiUt8JZycdw2IB_font-size: 20px;
  --mixin-yiUt8JZycdw2IB_font-weight: 600;
  --mixin-yiUt8JZycdw2IB_letter-spacing: -0.3px;
  --mixin-yiUt8JZycdw2IB_line-height: 1.5;
  --mixin-yiUt8JZycdw2IB_white-space: pre-wrap;
  --mixin-I3jTZ67TFVHhv1_font-family: "Inter";
  --mixin-I3jTZ67TFVHhv1_color: #000000;
  --mixin-I3jTZ67TFVHhv1_font-size: 16px;
  --mixin-I3jTZ67TFVHhv1_font-weight: 600;
  --mixin-I3jTZ67TFVHhv1_line-height: 1.5;
  --mixin-I3jTZ67TFVHhv1_white-space: pre-wrap;
  --mixin-UqR9nN7Akkxp7n_border-left-color: #dddddd;
  --mixin-UqR9nN7Akkxp7n_border-left-style: solid;
  --mixin-UqR9nN7Akkxp7n_border-left-width: 3px;
  --mixin-UqR9nN7Akkxp7n_color: #888888;
  --mixin-UqR9nN7Akkxp7n_padding-left: 10px;
  --mixin-UqR9nN7Akkxp7n_white-space: pre-wrap;
  --mixin-eIooAJrR4DzWrh_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-eIooAJrR4DzWrh_border-bottom-color: #dddddd;
  --mixin-eIooAJrR4DzWrh_border-bottom-style: solid;
  --mixin-eIooAJrR4DzWrh_border-bottom-width: 1px;
  --mixin-eIooAJrR4DzWrh_border-left-color: #dddddd;
  --mixin-eIooAJrR4DzWrh_border-left-style: solid;
  --mixin-eIooAJrR4DzWrh_border-left-width: 1px;
  --mixin-eIooAJrR4DzWrh_border-right-color: #dddddd;
  --mixin-eIooAJrR4DzWrh_border-right-style: solid;
  --mixin-eIooAJrR4DzWrh_border-right-width: 1px;
  --mixin-eIooAJrR4DzWrh_border-top-color: #dddddd;
  --mixin-eIooAJrR4DzWrh_border-top-style: solid;
  --mixin-eIooAJrR4DzWrh_border-top-width: 1px;
  --mixin-eIooAJrR4DzWrh_border-bottom-left-radius: 3px;
  --mixin-eIooAJrR4DzWrh_border-bottom-right-radius: 3px;
  --mixin-eIooAJrR4DzWrh_border-top-left-radius: 3px;
  --mixin-eIooAJrR4DzWrh_border-top-right-radius: 3px;
  --mixin-eIooAJrR4DzWrh_font-family: "Inconsolata";
  --mixin-eIooAJrR4DzWrh_padding-bottom: 1px;
  --mixin-eIooAJrR4DzWrh_padding-left: 4px;
  --mixin-eIooAJrR4DzWrh_padding-right: 4px;
  --mixin-eIooAJrR4DzWrh_padding-top: 1px;
  --mixin-eIooAJrR4DzWrh_white-space: pre-wrap;
  --mixin-6MSNJ8DMjNrYFg_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-6MSNJ8DMjNrYFg_border-bottom-color: #dddddd;
  --mixin-6MSNJ8DMjNrYFg_border-bottom-style: solid;
  --mixin-6MSNJ8DMjNrYFg_border-bottom-width: 1px;
  --mixin-6MSNJ8DMjNrYFg_border-left-color: #dddddd;
  --mixin-6MSNJ8DMjNrYFg_border-left-style: solid;
  --mixin-6MSNJ8DMjNrYFg_border-left-width: 1px;
  --mixin-6MSNJ8DMjNrYFg_border-right-color: #dddddd;
  --mixin-6MSNJ8DMjNrYFg_border-right-style: solid;
  --mixin-6MSNJ8DMjNrYFg_border-right-width: 1px;
  --mixin-6MSNJ8DMjNrYFg_border-top-color: #dddddd;
  --mixin-6MSNJ8DMjNrYFg_border-top-style: solid;
  --mixin-6MSNJ8DMjNrYFg_border-top-width: 1px;
  --mixin-6MSNJ8DMjNrYFg_border-bottom-left-radius: 3px;
  --mixin-6MSNJ8DMjNrYFg_border-bottom-right-radius: 3px;
  --mixin-6MSNJ8DMjNrYFg_border-top-left-radius: 3px;
  --mixin-6MSNJ8DMjNrYFg_border-top-right-radius: 3px;
  --mixin-6MSNJ8DMjNrYFg_font-family: "Inconsolata";
  --mixin-6MSNJ8DMjNrYFg_padding-bottom: 3px;
  --mixin-6MSNJ8DMjNrYFg_padding-left: 6px;
  --mixin-6MSNJ8DMjNrYFg_padding-right: 6px;
  --mixin-6MSNJ8DMjNrYFg_padding-top: 3px;
  --mixin-6MSNJ8DMjNrYFg_white-space: pre-wrap;
  --mixin-Ykxxiv57e1GqyV_display: flex;
  --mixin-Ykxxiv57e1GqyV_flex-direction: column;
  --mixin-Ykxxiv57e1GqyV_align-items: stretch;
  --mixin-Ykxxiv57e1GqyV_justify-content: flex-start;
  --mixin-Ykxxiv57e1GqyV_list-style-position: outside;
  --mixin-Ykxxiv57e1GqyV_padding-left: 40px;
  --mixin-Ykxxiv57e1GqyV_position: relative;
  --mixin-Ykxxiv57e1GqyV_list-style-type: decimal;
  --mixin-Ykxxiv57e1GqyV_white-space: pre-wrap;
  --mixin-yu62NXyPxn-065_display: flex;
  --mixin-yu62NXyPxn-065_flex-direction: column;
  --mixin-yu62NXyPxn-065_align-items: stretch;
  --mixin-yu62NXyPxn-065_justify-content: flex-start;
  --mixin-yu62NXyPxn-065_list-style-position: outside;
  --mixin-yu62NXyPxn-065_padding-left: 40px;
  --mixin-yu62NXyPxn-065_position: relative;
  --mixin-yu62NXyPxn-065_list-style-type: disc;
  --mixin-yu62NXyPxn-065_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-q7Yrgs4D0si2od_box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.07);
  --plasmic-mixin-try-box_box-shadow: var(--mixin-q7Yrgs4D0si2od_box-shadow);
  --mixin-sAL9auNGBKQeYE_box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.19);
  --plasmic-mixin-mini-shadow_box-shadow: var(
    --mixin-sAL9auNGBKQeYE_box-shadow
  );
  --mixin-gn6aE_Z7A8yDXS_box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.12);
  --plasmic-mixin-callout_box-shadow: var(--mixin-gn6aE_Z7A8yDXS_box-shadow);
  --mixin-l2I_s7rAMTjJ2t_box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.39);
  --plasmic-mixin-hero-shadow_box-shadow: var(
    --mixin-l2I_s7rAMTjJ2t_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-BeIfaH2vwlOOnn_font-family);
  font-size: var(--mixin-BeIfaH2vwlOOnn_font-size);
  font-weight: var(--mixin-BeIfaH2vwlOOnn_font-weight);
  font-style: var(--mixin-BeIfaH2vwlOOnn_font-style);
  color: var(--mixin-BeIfaH2vwlOOnn_color);
  text-align: var(--mixin-BeIfaH2vwlOOnn_text-align);
  text-transform: var(--mixin-BeIfaH2vwlOOnn_text-transform);
  line-height: var(--mixin-BeIfaH2vwlOOnn_line-height);
  letter-spacing: var(--mixin-BeIfaH2vwlOOnn_letter-spacing);
  white-space: var(--mixin-BeIfaH2vwlOOnn_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  font-weight: var(--mixin-QltckSpyXv-Lrn_font-weight);
  font-size: var(--mixin-QltckSpyXv-Lrn_font-size);
  line-height: var(--mixin-QltckSpyXv-Lrn_line-height);
  font-family: var(--mixin-QltckSpyXv-Lrn_font-family);
  letter-spacing: var(--mixin-QltckSpyXv-Lrn_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-RuIsXp0jyW3Jjb_font-family);
  color: var(--mixin-RuIsXp0jyW3Jjb_color);
  font-size: var(--mixin-RuIsXp0jyW3Jjb_font-size);
  font-weight: var(--mixin-RuIsXp0jyW3Jjb_font-weight);
  letter-spacing: var(--mixin-RuIsXp0jyW3Jjb_letter-spacing);
  line-height: var(--mixin-RuIsXp0jyW3Jjb_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-ka3lDswofSLKHP_font-family);
  color: var(--mixin-ka3lDswofSLKHP_color);
  font-size: var(--mixin-ka3lDswofSLKHP_font-size);
  font-weight: var(--mixin-ka3lDswofSLKHP_font-weight);
  letter-spacing: var(--mixin-ka3lDswofSLKHP_letter-spacing);
  line-height: var(--mixin-ka3lDswofSLKHP_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-ctvHLn0tlTmTEX_font-family);
  color: var(--mixin-ctvHLn0tlTmTEX_color);
  font-size: var(--mixin-ctvHLn0tlTmTEX_font-size);
  font-weight: var(--mixin-ctvHLn0tlTmTEX_font-weight);
  letter-spacing: var(--mixin-ctvHLn0tlTmTEX_letter-spacing);
  line-height: var(--mixin-ctvHLn0tlTmTEX_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-yiUt8JZycdw2IB_font-family);
  color: var(--mixin-yiUt8JZycdw2IB_color);
  font-size: var(--mixin-yiUt8JZycdw2IB_font-size);
  font-weight: var(--mixin-yiUt8JZycdw2IB_font-weight);
  letter-spacing: var(--mixin-yiUt8JZycdw2IB_letter-spacing);
  line-height: var(--mixin-yiUt8JZycdw2IB_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-I3jTZ67TFVHhv1_font-family);
  color: var(--mixin-I3jTZ67TFVHhv1_color);
  font-size: var(--mixin-I3jTZ67TFVHhv1_font-size);
  font-weight: var(--mixin-I3jTZ67TFVHhv1_font-weight);
  line-height: var(--mixin-I3jTZ67TFVHhv1_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-UqR9nN7Akkxp7n_color);
  padding-left: var(--mixin-UqR9nN7Akkxp7n_padding-left);
  border-left: var(--mixin-UqR9nN7Akkxp7n_border-left-width)
    var(--mixin-UqR9nN7Akkxp7n_border-left-style)
    var(--mixin-UqR9nN7Akkxp7n_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-eIooAJrR4DzWrh_background);
  font-family: var(--mixin-eIooAJrR4DzWrh_font-family);
  border-radius: var(--mixin-eIooAJrR4DzWrh_border-top-left-radius)
    var(--mixin-eIooAJrR4DzWrh_border-top-right-radius)
    var(--mixin-eIooAJrR4DzWrh_border-bottom-right-radius)
    var(--mixin-eIooAJrR4DzWrh_border-bottom-left-radius);
  padding: var(--mixin-eIooAJrR4DzWrh_padding-top)
    var(--mixin-eIooAJrR4DzWrh_padding-right)
    var(--mixin-eIooAJrR4DzWrh_padding-bottom)
    var(--mixin-eIooAJrR4DzWrh_padding-left);
  border-top: var(--mixin-eIooAJrR4DzWrh_border-top-width)
    var(--mixin-eIooAJrR4DzWrh_border-top-style)
    var(--mixin-eIooAJrR4DzWrh_border-top-color);
  border-right: var(--mixin-eIooAJrR4DzWrh_border-right-width)
    var(--mixin-eIooAJrR4DzWrh_border-right-style)
    var(--mixin-eIooAJrR4DzWrh_border-right-color);
  border-bottom: var(--mixin-eIooAJrR4DzWrh_border-bottom-width)
    var(--mixin-eIooAJrR4DzWrh_border-bottom-style)
    var(--mixin-eIooAJrR4DzWrh_border-bottom-color);
  border-left: var(--mixin-eIooAJrR4DzWrh_border-left-width)
    var(--mixin-eIooAJrR4DzWrh_border-left-style)
    var(--mixin-eIooAJrR4DzWrh_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-6MSNJ8DMjNrYFg_background);
  font-family: var(--mixin-6MSNJ8DMjNrYFg_font-family);
  border-radius: var(--mixin-6MSNJ8DMjNrYFg_border-top-left-radius)
    var(--mixin-6MSNJ8DMjNrYFg_border-top-right-radius)
    var(--mixin-6MSNJ8DMjNrYFg_border-bottom-right-radius)
    var(--mixin-6MSNJ8DMjNrYFg_border-bottom-left-radius);
  padding: var(--mixin-6MSNJ8DMjNrYFg_padding-top)
    var(--mixin-6MSNJ8DMjNrYFg_padding-right)
    var(--mixin-6MSNJ8DMjNrYFg_padding-bottom)
    var(--mixin-6MSNJ8DMjNrYFg_padding-left);
  border-top: var(--mixin-6MSNJ8DMjNrYFg_border-top-width)
    var(--mixin-6MSNJ8DMjNrYFg_border-top-style)
    var(--mixin-6MSNJ8DMjNrYFg_border-top-color);
  border-right: var(--mixin-6MSNJ8DMjNrYFg_border-right-width)
    var(--mixin-6MSNJ8DMjNrYFg_border-right-style)
    var(--mixin-6MSNJ8DMjNrYFg_border-right-color);
  border-bottom: var(--mixin-6MSNJ8DMjNrYFg_border-bottom-width)
    var(--mixin-6MSNJ8DMjNrYFg_border-bottom-style)
    var(--mixin-6MSNJ8DMjNrYFg_border-bottom-color);
  border-left: var(--mixin-6MSNJ8DMjNrYFg_border-left-width)
    var(--mixin-6MSNJ8DMjNrYFg_border-left-style)
    var(--mixin-6MSNJ8DMjNrYFg_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-Ykxxiv57e1GqyV_display);
  flex-direction: var(--mixin-Ykxxiv57e1GqyV_flex-direction);
  align-items: var(--mixin-Ykxxiv57e1GqyV_align-items);
  justify-content: var(--mixin-Ykxxiv57e1GqyV_justify-content);
  list-style-position: var(--mixin-Ykxxiv57e1GqyV_list-style-position);
  padding-left: var(--mixin-Ykxxiv57e1GqyV_padding-left);
  position: var(--mixin-Ykxxiv57e1GqyV_position);
  list-style-type: var(--mixin-Ykxxiv57e1GqyV_list-style-type);
  flex-column-gap: var(--mixin-Ykxxiv57e1GqyV_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-yu62NXyPxn-065_display);
  flex-direction: var(--mixin-yu62NXyPxn-065_flex-direction);
  align-items: var(--mixin-yu62NXyPxn-065_align-items);
  justify-content: var(--mixin-yu62NXyPxn-065_justify-content);
  list-style-position: var(--mixin-yu62NXyPxn-065_list-style-position);
  padding-left: var(--mixin-yu62NXyPxn-065_padding-left);
  position: var(--mixin-yu62NXyPxn-065_position);
  list-style-type: var(--mixin-yu62NXyPxn-065_list-style-type);
  flex-column-gap: var(--mixin-yu62NXyPxn-065_flex-column-gap);
}
