.root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.19);
  background: rgb(255, 255, 255);
  min-width: 0;
  min-height: 0;
  border-bottom: 4px solid rgb(255, 255, 255);
}
.text___7P9U {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 1;
  background: linear-gradient(
        308deg,
        rgb(246, 88, 137) 0%,
        rgb(246, 89, 96) 100%
      )
      0% 0% / 100% 100% no-repeat padding-box border-box scroll,
    rgb(236, 97, 123);
  padding: 10px;
}
.freeBox__bVuzJ {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 5px;
}
.freeBox__bVuzJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__bVuzJ > :global(.__wab_flex-container) > *,
.freeBox__bVuzJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bVuzJ > :global(.__wab_flex-container) > picture > img,
.freeBox__bVuzJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__szHeq {
  display: flex;
  position: relative;
  height: 150px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 240px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.69) 0%,
      rgba(0, 0, 0, 0) 59%
    )
    0% 0% / 100% 100% no-repeat padding-box border-box scroll;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 20px;
}
.freeBoxvariants_wide__szHeq7Qfe0 {
  left: auto;
  top: auto;
}
.text__tD5Ib {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
}
.text__hnwNj {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.svg__raydU {
  display: flex;
  position: absolute;
  object-fit: cover;
  width: 48px;
  height: 48px;
  left: auto;
  top: 13px;
  right: -15px;
  flex-shrink: 0;
}
.freeBox__tsFie {
  display: flex;
  position: relative;
  height: 150px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 240px;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.69) 0%,
      rgba(0, 0, 0, 0) 59%
    )
    0% 0% / 100% 100% no-repeat padding-box border-box scroll;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 20px;
}
.freeBoxvariants_wide__tsFie7Qfe0 {
  left: auto;
  top: auto;
}
.text__jKhoa {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
}
.text__lXxAh {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.svg__cuu2Y {
  display: flex;
  position: absolute;
  object-fit: cover;
  width: 48px;
  height: 48px;
  left: auto;
  top: 13px;
  right: -15px;
  flex-shrink: 0;
}
.freeBox___3Eb7 {
  display: flex;
  position: relative;
  height: 150px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 240px;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.69) 0%,
      rgba(0, 0, 0, 0) 59%
    )
    0% 0% / 100% 100% no-repeat padding-box border-box scroll;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 20px;
}
.freeBoxvariants_wide___3Eb77Qfe0 {
  left: auto;
  top: auto;
}
.text___8GObF {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
}
.text__cRnOh {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.svg__qBkNc {
  display: flex;
  position: absolute;
  object-fit: cover;
  width: 48px;
  height: 48px;
  left: auto;
  top: 13px;
  right: -15px;
  flex-shrink: 0;
}
