.root {
  height: auto;
  color: rgb(48, 143, 232);
  position: relative;
  padding: 6px 12px;
  border: 2px solid rgb(48, 143, 232);
}
.roottype_primary {
  color: rgb(255, 255, 255);
  background: rgb(48, 143, 232);
}
.roottype_danger {
  color: rgb(232, 48, 48);
  border-color: rgb(232, 48, 48);
}
.rootborder_rounded {
  border-radius: 20px;
}
.rootborder_link {
  border-style: none;
}
.rootsize_small {
  padding: 2px 8px;
}
.rootsize_large {
  padding: 10px 20px;
}
