.root {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
}
.freeBox__bymSr {
  display: flex;
  position: relative;
  height: auto;
  width: 86px;
  justify-content: center;
}
.img {
  display: flex !important;
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.imgvariants_row {
  left: auto;
  top: auto;
}
.freeBox__oq3Be {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
}
.freeBox__oq3Be > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__oq3Be > :global(.__wab_flex-container) > *,
.freeBox__oq3Be > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oq3Be > :global(.__wab_flex-container) > picture > img,
.freeBox__oq3Be
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBoxvariants_row__oq3BedmGpy {
  left: auto;
  top: auto;
  display: flex;
}
.text__vk6Jv {
  position: relative;
}
.textvariants_row__vk6JvdmGpy {
  left: auto;
  top: auto;
}
.text__o6Sye {
  position: relative;
  color: rgb(172, 172, 172);
}
.textvariants_row__o6SyEdmGpy {
  left: auto;
  top: auto;
}
.freeBox__oIsYj {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
}
.freeBox__oIsYj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__oIsYj > :global(.__wab_flex-container) > *,
.freeBox__oIsYj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oIsYj > :global(.__wab_flex-container) > picture > img,
.freeBox__oIsYj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.freeBoxvariants_row__oIsYjdmGpy {
  left: auto;
  top: auto;
  display: flex;
}
.text__rdAxS {
  position: relative;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(172, 172, 172);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
}
.textvariants_row__rdAxSdmGpy {
  left: auto;
  top: auto;
}
.text__eu6N1 {
  position: relative;
  color: rgb(172, 172, 172);
  font-size: 12px;
}
.textvariants_row__eu6N1DmGpy {
  left: auto;
  top: auto;
}
